<% @posts.each do |post| %>
    <article class="posts">
        <h2><%= link_to post.title, post_path(post) %></h1>
        <small>Posted At: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
        <p><%= truncate strip_tags(markdown(post.content)), length: 400, omission: " ......" %></p>
        <div class="continue"><%= link_to "... Continue Reading ...", post_path(post) %></span>
    </article>
<% end %>

<%= will_paginate @posts %>