<%= @posts.each do |post| %>
    <article class="posts">
        <h1><%= post.title %></h1>
        <h3><%= post.public %></h3>
        <p><%= post.content %></p>
    </article>
<% end %>

<%= will_paginate @posts %>