<%= form_for @post do |f| %>
    <div class="field">
      <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.text_area :content, rows: 20, cols: 80, placeholder: "new post here..." %>
    </div>

    <div class="field">
        <%= f.select :public, [['Public', true], ['Private', false]] %>
    </div>

    <div class="field">
        <%= f.select :lang, [['English', 'eng'], ['Chinese', 'chn']] %>
    </div>

    <%= f.submit "Post", class: "btn" %>
<% end %>