<article>
    <h1><%= @post.title %></h1>
    <section class="timeInfo">
        <small>Posted @ <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %> / Updated @ <%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></small>
    </section>
    <p><%= markdown @post.content %></p>
</article>

<hr>

<section id="comment">
    <!-- <a class="moot" href="http://api.moot.it/panco/blog/#{}"></a> -->
    <%= link_to "", "http://api.moot.it/panco/blog/" + @post.title, class: "moot" %>
</section>