<!DOCTYPE html>
<html>
<head>
  <title>Yuli's blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

    <div class="container group">
        <%= render 'layouts/header' %>
        
        <section id="article_container" class="group">
          <%= yield %>
        </section>

        <%= render 'layouts/sidebar' %>
    </div>

    <%= render 'layouts/footer' %>
</body>
</html>
