<!DOCTYPE html>
<html>
<head>
  <title>Yuli's blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

    <div class="container group">
        <header>
            <%= render 'layouts/header' %>
        </header>

        <aside class="group">
            <%= render 'layouts/sidebar' %>
        </aside>

        <section id="article_container" class="group">
            <article>
                <%= yield %>
            </article>
        </section>
        <%= debug(params) if Rails.env.development? %>
    </div>

</body>
</html>
